.startingdiv {
    background-color: #ff6372;
    background-image: linear-gradient(to top right,#ff6372 10%, #ff818d 65%, #fcc31a 125%);
}
.container.secondclass {
    margin-top: 100px;
    margin-bottom: 100px;
}
.logo {
    width: 120px;
    margin-top: 20px;
    margin-bottom: 33px;
}

.hidencol {
    visibility: hidden;
}
.fromcol {
    background-color: #fff;
    padding: 0px;
}
.titletag {
    font-family: "haptik","Helvetica Neue",Arial,sans-serif;
    color: #151b26;
    line-height: 45px;
    font-size: 40px;
    padding: 45px 30px 30px;
    text-transform: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.btn {
       font-size: 12px;
    color: #fff;
    background-color: #14aaf5;
    border: #14aaf5;
    border-radius: 3px;
    padding: 10px 18px;
    margin-bottom: 22px;
}
.orclassbeaf:after {
    border-top: 1px solid #e0e6e8;
    content: "";
    height: 0px;
    left: 76px;
    position: absolute;
        top: 40%;
    width: 33%;
    z-index: 0;
}
.orclassbeaf:before {
    
   border-top: 1px solid #e0e6e8;
    content: "";
    height: 1px;
    right: 82px;
    position: absolute;
        top: 40%;
    width: 33%;
    z-index: 0;
}
.orclassbeaf {
    color: #aaa;
    font-size: 25px;
}
.fromdata {
    margin-left: 50px;
    padding: 0px 23px;
    margin-right: 50px;
}
.emailinput {
    
    background-color: #fff;
    border: 1px solid #d5dce0;
    border-radius: 3px;
    color: #151b26;
    height: 40px;
    margin: 0;
    padding: 0 0 0 10px;
    width: 100%;
}
.passinput {
    background-color: #fff;
    border: 1px solid #d5dce0;
    border-radius: 3px;
    color: #151b26;
    height: 40px;
    margin: 0;
    padding: 0 0 0 10px;
    width: 100%;
}
.emaillabel {
    color: #848f99;
    display: block;
    font-size: 11px;
    font-weight: 200;
    margin-bottom: -17px;
    margin-top: 0px;
}
.passlabel {
    color: #848f99;
    display: block;
    font-size: 11px;
    font-weight: 200;
    margin-bottom: -17px;
    margin-top: 0px;
}
.emaildiv.text-left {
    margin-top: 22px;
}
.passdiv.text-left {
    margin-top: 25px;
}
span.inputhelp {
    display: block;
    margin-top: 10px;
}
.inputhelp a{
    border-bottom: 1px dotted #848f99;
    color: #848f99;
    font-size: 11px;
    text-align: left;
}
.subbtnclass {
   margin-right: 73px;
    margin-top: 25px;
    margin-bottom: 5px;
}
.loginfooter {
    margin: 50px;
    visibility: hidden;
}
.footer {
    margin: 60px;
    visibility: hidden;
}
.col-md-3.col-sm-2.col-xs-2.hiddenfootcol {
    visibility: hidden;
}
span.aboutasana {
    color: #fff;
    font-size: 13px;
}
span.blog {
    color: #fff;
    font-size: 13px;
}
span.jobs {
    color: #fff;
    font-size: 13px;
}
span.help {
    color: #fff;
    font-size: 13px;
}
span.terms {
    color: #fff;
    font-size: 13px;
}
.dialog--nux-footer.topfot {
    margin-top: 25px;
}
.colright {
    padding: 0px;
    text-align: right;
}
.colleft {
    padding: 0px;
}
span.dontclass {
    color: #fff;
}
.loginbtn {
    color: #fff;
    border: 1px solid #fff;
    padding: 6px;
    font-size: 11px;
    margin-left: 6px;
}